Тема “Обучение с учителем”

Задание 1
Импортируйте библиотеки pandas и numpy.

In [1]:
import numpy as np
import pandas as pd

Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. Создайте датафреймы X и y из этих данных.

In [8]:
from sklearn.datasets import load_boston

boston = load_boston()
data = boston["data"]
target = boston["target"]
feature_names = boston["feature_names"]

X = pd.DataFrame(data, columns=feature_names)
Y = pd.DataFrame(target, columns=["price"])
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [14]:
Y.tail()

     price
501   22.4
502   20.6
503   23.9
504   22.0
505   11.9

Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3,random_state=42)

Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.

In [19]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.

In [20]:
lr.fit(X_train, y_train)

LinearRegression()

In [22]:
y_pred = lr.predict(X_test)

In [24]:
check_test = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": y_pred.flatten(),
})

check_test.tail(10)

     y_test     y_pred
66     19.4  24.954679
211    19.3  16.736336
404     8.5   6.128584
94     20.6  26.659900
154    17.0  23.340072
441    17.1  17.403672
23     14.5  13.385941
225    50.0  39.983425
433    14.3  16.682863
447    12.6  18.285618

Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics

In [26]:
from sklearn.metrics import r2_score
check_test["error"] = check_test["y_pred"] - check_test["y_test"]
check_test.head()

     y_test     y_pred     error
173    23.6  28.648960  5.048960
274    32.4  36.495014  4.095014
491    13.6  15.411193  1.811193
72     22.8  25.403213  2.603213
452    16.1  18.855280  2.755280

In [27]:
r2_score(check_test["y_pred"], check_test["y_test"])

0.6693702691495639

Задание 2
Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.

In [31]:
from sklearn.ensemble import RandomForestRegressor

Сделайте агрумент n_estimators равным 1000,
max_depth должен быть равен 12 и random_state сделайте равным 42.

In [32]:
rfr = RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression,
но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0],
чтобы получить из датафрейма одномерный массив Numpy,
так как для класса RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма.

In [38]:
rfr.fit(X_train, y_train.values[:, 0])
y_pred_1 = rfr.predict(X_test)

check_test = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": y_pred.flatten(),
    "y_pred_1": y_pred_1.flatten(),
})

check_test["error"] = check_test["y_pred"] - check_test["y_test"]
check_test["error_1"] = check_test["y_pred_1"] - check_test["y_test"]

check_test.tail(10)

     y_test     y_pred   y_pred_1      error   error_1
66     19.4  24.954679  20.241597   5.554679  0.841597
211    19.3  16.736336  18.473664  -2.563664 -0.826336
404     8.5   6.128584   6.912249  -2.371416 -1.587751
94     20.6  26.659900  21.805733   6.059900  1.205733
154    17.0  23.340072  16.941018   6.340072 -0.058982
441    17.1  17.403672  13.521640   0.303672 -3.578360
23     14.5  13.385941  15.112621  -1.114059  0.612621
225    50.0  39.983425  42.808700 -10.016575 -7.191300
433    14.3  16.682863  15.586103   2.382863  1.286103
447    12.6  18.285618  16.072425   5.685618  3.472425

Сделайте предсказание на тестовых данных и посчитайте R2. Сравните с результатом из предыдущего задания.

In [36]:
r2_score(check_test["y_pred"], check_test["y_test"])

0.6693702691495639

In [37]:
r2_score(check_test["y_pred_1"], check_test["y_test"])

0.8479049999699443

Напишите в комментариях к коду, какая модель в данном случае работает лучше

#### ОТВЕТ: исходя из визуальной обработки данных и метода r2_score (коэффициент детерминации) модель RandomForestRegressor работает более точно, чем  LinearRegression (линейная регрессия).